

.header {
    margin-left: 45%;
    margin-top:2%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin: 1rem;
  flex-wrap: wrap;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: skyblue;
  
}
